#main {
    padding-top: 16px;
}

.small {
    font-size: .82em;
}

#logo {
    padding: 10px 0 0;
    width: 90px;
    position: absolute;
    left: 45px;
    top: 3px;
}

#logo img {
    width: 100%;
    height: auto;
}

#logo-text {
    display: block;
    width: 100%;
    left: 6%;
    top: 7px;
    position: fixed;
    font-size: 20px;
}

#logo-text img {
    width: 30%;
}

#logo-text h1 {
    margin: 0;
    color: white;
    text-shadow: 0.06em 0.06em 0.2em black;
    font-size: 2em;
    line-height: 1.2em;
}

#logo-text h2 {
    margin: 0;
    color: white;
    text-shadow: 0.06em 0.06em 0.2em black;
    font-weight: bold;
}

#logo-text h3 {
    margin: 0;
    color: white;
    text-shadow: 0.06em 0.06em 0.2em black;
    font-size: 1.4em;
    line-height: 1.1em;
}

#logo-text h1 span.small {
    margin-left: .1em;
    font-size: .79em;
    font-weight: bold;
}

#sticky-logo a {
    color: white;
    text-shadow: 0.06em 0.06em 0.2em black;
    font-size: 20px;
    line-height: 1.3em;
}

#header-right {
    font-size: 18px;
    position: absolute;
    right: 3%;
    top: 0;
    width: 25.5em;
}

#header-right > a {
    display: block;
    position: absolute;
      border: 1px solid white;
    padding: 0;
    width: 15em;
    height: auto;
    top: 1em;
    right: 0;
    left: auto;
}

#header-right > a:first-of-type {
    width: 9em;
    top: 1em;
    left: 0;
    right: auto;
}

#header-right > a > img {
    width: 100%;
    height: auto;
}

#choose-lang {
    float: right;
    text-align: center;
    margin-top: -6px
}
@media (max-width: 1300px) {
    #header-right {
        font-size: 10.5px;
    }
}

@media (max-width:700px) {
    #logo-text {
        font-size: 15px;
    }
}

@media (max-width: 620px) {
    #logo-text {
        font-size: 14px;
    }
    #header-right {
        font-size: 10px;
    }
}

@media (max-width: 580px) {
    #logo-text {
        font-size: 13px;
    }
    #header-right {
        font-size: 9px;
    }
    .sticky #choose-lang {
        position: absolute;
        top:50px;
        right:5px;
    }
}
@media (max-width: 540px) {
    #logo-text {
        font-size: 12px;
    }
    #header-right {
        font-size: 8px;
    }
}

@media (max-width: 500px) {
    #header-right {
        font-size: 7px;
        right:2%
    }
}

@media (max-width: 450px) {
    #logo-text {
        font-size: 10px;
    }
}

@media (max-width: 410px) {
    #header-right {
        font-size: 6px;
    }
    #sticky-logo{display:none;}
    .sticky #choose-lang {
        position: static;
    }
}
@media (max-width: 380px) {
    #logo-text {
        font-size: 9px;
    }
}

@media (max-width: 350px) {
    #header-right {
        font-size: 5px;
    }
}

@media (max-width: 330px) {
    #logo-text {
        font-size: 8px;
    }
}

#footer {
    text-align: center;
    padding-top: 1em;
}

#footer-credits img {
    width: 28px;
    height: 20px;
}

#footer #modified-on {
    display: block;
    position: absolute;
    padding: 0;
    right: 0;
    bottom: 0;
}

#footer #html5-badge {
    vertical-align: bottom;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px 0 0 10px;
    overflow: hidden
}

#footer #html5-badge img {
    margin: 0;
    width: 40px;
    height: 40px;
}


#choose-lang a {
    display: inline-block;
    font-size: 24px;
    margin: 12px 10px 5px 10px;
}

#choose-lang a > img {
    width: 20px;
}

#choose-lang a, #header-right > a {
    transition: all .2s linear;
    transform: scale(1.0);
}

#header-right > a:hover,
#header-right > a:focus {
    transform: scale(1.17);
    background:white;
}
#choose-lang a:hover,
#choose-lang a:focus {
    transform: scale(1.8);
}

#choose-lang a.active {
    border-bottom: 4px solid black;
    background:transparent;
}
